body {
    font-family: 'Roboto', sans-serif;
    background-color: #6c756b;
    background-image: url('../images/valhalla-fondo.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    /* color: #ffffff; */
    color: #ff0039;
}
.miNavBar {
    background-color: #6c756b80 !important;
}

.miContainer {
    background-color: #6c756b95 !important;
    /* background-image: url(../images/valhalla-fondo.jpg); */
    /* background-position: center; */
    /* background-size: cover; */
}

.miBorde{
    border-color: #ff0039 !important;
}
.misLetrasRojas {
    color: #ff0039;
}
.carousel-item img {
    width: auto;
  height: 400px;
  max-height: 400px;
}
.miBoton {
    border-color: #ff0039 !important;
    color: white;
}
.my-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.containerBlanco {
    background-image: url(../images/runas-blancas.png)
}